.navbarStyle{
  background-color: rgb(39, 39, 39);
}
.bannerImageDark{
  background-image: 
  url('../public/images/banner-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 700px;
}

.bannerImageLight{
  background-image: 
  url('../public/images/banner-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 700px;
  overflow: hidden;
}

.bannerText{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 55px;
  line-height: 1;
}

.navLink{
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.bgDark2{
  background-color: #3e454d;
}

.heroHeading{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}
.heroLeadText{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
.heroLeadBtn{
  height: 50px;
  width: 150px;
  background: #273A69 !important;
  color: white !important;
  border-radius: 15px;
  box-shadow: 1px 3px 5px 0px rgba(94,91,91,0.75);
}
.heroLeadBtn:hover{
  background: #1a2644 !important;
  color: white !important;
}

.projectCard{
  height: 300px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  box-shadow: 1px 3px 5px 0px rgba(94,91,91,0.75);
}

.projectCard:hover{
  opacity: .4;
  cursor: pointer;
}