.navbarStyle{
  background-color: rgb(39, 39, 39);
}
.bannerImageDark{
  background-image: 
  linear-gradient(to right, #343a40b6, #343a40),
  url('../public/images/bannerImg-dark.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 500px;
}

.bannerImageLight{
  background-image: 
  linear-gradient(to right, #f3f3f359, #f3f3f3),
  url('../public/images/bannerImg-light.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 500px;
}

.bannerText{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 55px;
  line-height: 1;
}

.navLink{
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.bgDark2{
  background-color: #3e454d;
}
